<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습문제 axios get 회원가입</title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      .result {
        font-size: 1.5rem;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <!-- get 요청 -->
    <h2>axios의 get 메소드로 동적 폼 전송</h2>
    <form name="register">
      <label for="name">
        이름
        <input type="text" id="name" name="name" required />
      </label>

      <fieldset>
        <legend>성별</legend>
        <label for="male">
          <input type="radio" name="gender" id="male" value="남자" required />
          남자
        </label>
        <label for="female">
          <input type="radio" name="gender" id="female" value="여자" /> 여자
        </label>
      </fieldset>
      <fieldset>
        <legend>생년월일</legend>
        <select name="year" id="year">
          <%for(let i=1985; i<=2003; i++){%>
          <option value="<%=i%>"><%=i%></option>
          <%}%>
        </select>
        <span>년</span>
        <select name="month" id="month">
          <%for(let i=1; i<=12; i++){%>
          <option value="<%=i%>"><%=i%></option>
          <%}%>
        </select>
        <span>월</span>
        <select name="date" id="date">
          <%for(let i=1; i<=31; i++){%>
          <option value="<%=i%>"><%=i%></option>
          <%}%>
        </select>
        <span>일</span>
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <label>
          <input type="checkbox" name="favorite" value="여행" required /> 여행
        </label>
        <label>
          <input type="checkbox" name="favorite" value="패션" /> 패션
        </label>
        <label>
          <input type="checkbox" name="favorite" value="음식" /> 음식
        </label>
      </fieldset>
      <button type="button" onclick="axiosGet()">axios GET 제출</button>
      <div class="result"></div>
    </form>

    <script>
      const resultBox = document.querySelector(".result");
      // axios
      async function axiosGet() {
        const form = document.forms["register"];
        const favorites = Array.from(form.favorite)
          .filter((checkbox) => checkbox.checked)
          .map((checkbox) => checkbox.value);
        const data = {
          name: form.name.value,
          gender: form.gender.value,
          year: form.year.value,
          month: form.month.value,
          date: form.date.value,
          favorite: favorites,
        };
        //type button의 유효성 검사: checkValidity()
        /*
        required 표시된 부분이 있으면 기입이 됐는지 안됐는지 검사
        - required 가 있는 항목에 대해서
          - 기입했다면 true, 기입하지 않았다면 false 반환
        - required 가 없는 항목에 대해서: 무조건 true 반환
        */

        if (!form.name.checkValidity()) {
          resultBox.textContent = "이름을 입력해주세요";
        } else if (!form.gender[0].checkValidity()) {
          resultBox.textContent = "성별을 선택해주세요";
        } else if (!form.favorite[0].checkValidity()) {
          resultBox.textContent = "관심사를 선택해주세요";
        } else {
          // 모든 값 채웠을 때 axios 요청!

          try {
            const response = await axios({
              method: "GET",
              url: `/axios?name=${data.name}&gender=${data.gender}&year=${
                data.year
              }&month=${data.month}&date=${
                data.date
              }&favorite=${data.favorite.join(",")}`,
              // params: data, //get 일 때는 params 로 데이터 전달
            });
            const { name, gender, year, month, date, favorite } = response.data;
            resultBox.innerText = `GET axios 요청 완료! ${name}님의 성별은 ${gender}이고, 생년월일은 ${year}년 ${month}월 ${date}일 생입니다. 관심사 : ${favorite}`;
            resultBox.style.color = "darkblue";
          } catch (err) {
            console.log("err!!", err);
          }
        }
      }
    </script>
  </body>
</html>
