<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>λ©”μΈνμ΄μ§€</title>
    <!-- head μΈν΄λ£¨λ“ -->
    <%-include('./include/head')%>
  </head>
  <body>
    <!-- header μΈν΄λ£¨λ“ -->
    <%-include('./include/header')%>

    <!--
    λ°μ΄ν„°κ°€ μ¤λ” ν•νƒ
    user: userId,
    contentData: tempDB, //[{},{}] -->

    <h2>μ•λ…•ν•μ„Έμ” <%=user%>μ λΈ”λ΅κ·Έμ…λ‹λ‹¤.</h2>
    <ul>
      <%for(let content of contentData){%>
      <li>
        <a href="/content/<%=content.contentID%>"><%=content.title%></a>
        <button onclick="deleteContent('<%=content.contentID%>', this)">
          μ‚­μ 
        </button>
      </li>
      <%}%>
    </ul>
    <script>
      function deleteContent(contentID, btn) {
        // console.log(contentID);
        if (confirm("μ •λ§ μ‚­μ ν•μ‹κ² μµλ‹κΉ?π¤”")) {
          //μ‚­μ  λ΅μ§ μ‘μ„±
          axios({
            method: "delete",
            url: "blog/delete?contentID=" + contentID,
          }).catch(function (err) {
            console.log(err);
          });
          console.log(btn.parentNode);
          btn.parentNode.remove();
        }
      }
    </script>
  </body>
</html>
