<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css.css" />
  </head>
  <body>
    <h4><span><%=signInfo.name%></span>님 마이페이지</h4>
    <img src="<%=fileInfo.path%>" alt="댕댕이" />
    <div>아이디 : <%=signInfo.id%></div>
    <div>비밀번호 : <%=signInfo.pw%></div>
    <div>이름 : <%=signInfo.name%></div>
    <div>나이 <%=signInfo.age%></div>
    <div></div>
  </body>

  <script></script>
</html>
